@import url(https://fonts.googleapis.com/css?family=Poppins:300);
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    background: linear-gradient(to bottom, #000000, #f96c00);
    font-family: Arial, sans-serif;
    justify-content: center;
     align-items: center;
    height:130vh ;
  }

.container{
    width: 100%;
    min-height: 120vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(120deg, #071014 5%, #f96c00 100%);
}

.username {
    font-size: 20px;
    color: white;
}

.profile-name {
    font-size: 20px;
    color: #ffffff;
    margin-right: 10px;
}

.navbar{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 70px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    
}

.name {
    text-align: center;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
}

nav ul li a:hover {
    color: #f96c00;
    letter-spacing: .2rem;
    transform: scale(1.1);
    transition: .1s ease-in-out;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2{
    font-size: 30px;
    color: #ffffff;

}
.col-1 h3{
    font-size: 25px;
    color: #ffffff;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 13px;
    color: #ffffff;
    font-weight: 100;

}

.col-1 p {
    margin: 30px 0;
    font-size: 15px;
}

.col-1 ::after{
    content: '';
    width: 10px;
    height: 70%;
    background: linear-gradient(160deg, #071014 0%, #7b2005 100%);
    position: absolute;
    left: -40px;
    top: 5px;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .pellet{
    width: 60%;
    margin: 0 0 0 30vh;
}

.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(160deg, #071014 0%, #7b2005 100%);
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    width: 50%;
    z-index: -1;
    transform: translateX(150px);
}