body {
    font-family: Arial, sans-serif;
    background: linear-gradient(175deg, #000000 20%, #ff6f00 95%);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
     align-items: center;
    height:100vh ;
}

h3 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

a {
    color: #337ab7;
    text-decoration: none;
    font-size: 16px;
}